@media (min-width: 350px) and (max-width: 400px){
    .grid-carta{
        display: flex;
        flex-direction: column;
        height: 100%;     
        padding: 60px 30px 100px 30px;   
        .grid-cont-1{
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc1-1{
                font-size: 3.3vw;
                height: 50vh;
                .gc1-c1{
                    width: 70%;
                    ul{
                        justify-content: center;                        
                        li{
                            padding: 5px 0;
                        }
                    }
                }
                .gc1-c2{
                    width: 100%;
                    ul{                        
                        &:nth-child(even){                           
                            padding-left: 20px;
                        }
                        li{
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
        .grid-cont-2{
            display: flex;
            flex-direction: column;
            h4{
                margin: 0;
                padding: 0;
            }            
            .gc2-1{
                    font-size: 3.3vw;
                    height: 50vh;
                .gc2-c1{
                    width: 70%;
                    ul{
                        justify-content: center;
                        &:nth-child(even){ 
                            justify-content: space-evenly;
                            padding-left: 10px;
                        }
                        li{
                            padding: 5px 0;
                        }
                    }
                }
                .gc2-c2{
                    width: 90%;
                    ul{
                        justify-content: space-evenly;
                        &:nth-child(even){
                            justify-content: space-around;
                            padding-left: 20px;
                        }
                        li{
                            padding: 0 0 0 10px;
                            width: 100%;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
        .grid-cont-3{
            display: flex;
            flex-direction: column;
            padding: 0;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc3-1{
                flex-wrap: wrap;
                font-size: 3.3vw;
                .gc3-c1{
                    width: 50%;
                    h5{
                        margin: 0;
                        padding: 13px 0 5px 0;
                        font-size: 22px;
                    }
                    .gc3-c1-1{
                        ul{
                            justify-content: center;
                            padding: 0;
                            &:nth-child(even){ /* PRECIOS */
                                justify-content: space-evenly;
                        
                            }
                            li{
                                padding: 5px 0;
                            }
                        }
                    }
                }
                .gc3-c2{
                    width: 50%;
                    padding: 0 0 0 15px;
                    h5{
                        margin: 0;
                        padding: 13px 0 5px 0;
                        font-size: 22px;
                    }
                    .gc3-c2-2{
                        ul{
                            justify-content: center;
                            padding: 0;
                            &:nth-child(even){ /* PRECIOS */
                                justify-content: space-evenly;
                            }
                            li{
                                padding: 5px 0;
                            }
                        }
                    }
                }
                .gc3-c3{
                    width: 100%;
                    padding: 0;
                    h5{
                        margin: 0;
                        padding: 5px 0;
                        font-size: 22px;
                    }
                    .gc3-c3-3{                        
                        ul{
                            justify-content: center;
                            padding: 0;
                            &:nth-child(even){ /* PRECIOS */
                                justify-content: space-evenly;
                            }
                            li{
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
        .grid-cont-4{
            display: flex;
            border: none;
            border-top: 2px solid rgb(168, 168, 168);
            font-size: 3.3vw;
            margin: 0 0 -70px 0;
            .gc4-c1{
                h4{
                    margin: 0;
                    padding: 10px 0;
                }
                .gc4-c1-1{
                    ul{
                        padding: 0;
                        margin: 0 10px 0 0;
                        &:nth-child(even){
                            padding: 0 0 0 60px;
                        }
                    }
                }
            }
            .gc4-c2{
                h4{
                    margin: 0;
                    padding: 10px 0;
                }
                .gc4-c2-2{
                    ul{
                        padding: 0 20px 0 0;
                        margin: 0;
                        &:nth-child(even){
                            padding: 0 0 0 20px;
                            line-height: 17.3px;
                        }                 
                    }
                }
            }
            .gc4-c3{
                h4{
                    margin: 0;
                    padding: 10px 0;
                }
                .gc4-c3-3{
                    ul{
                        padding: 0 10px 0 0;
                        margin: 0;
                        &:nth-child(even){
                            padding: 0 0 0 20px;
                        }                                               
                    }
                }
            }
        }
    }
}
@media (min-width: 401px) and (max-width: 500px){
    .grid-carta{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 110px;
        padding-bottom: 20px;
        .grid-cont-1{
            display: flex;
            flex-direction: column;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc1-1{
                font-size: 3vw;
                height: 50vh;
                .gc1-c1{
                    width: 70%;
                    ul{
                        justify-content: center;                        
                        li{
                            padding: 5px 0;
                        }
                    }
                }
                .gc1-c2{
                    width: 100%;
                    ul{                        
                        &:nth-child(even){
                            justify-content: space-evenly;
                            padding-left: 20px;
                        }
                        li{
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
        .grid-cont-2{
            display: flex;
            flex-direction: column;
            padding: 0 0 20px 0;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc2-1{
                font-size: 3vw;
                height: 50vh;
                .gc2-c1{
                    width: 70%;
                    ul{
                        justify-content: center;
                        &:nth-child(even){ 
                            justify-content: space-evenly;
                            padding-left: 10px;
                        }
                        li{
                            padding: 5px 0;
                        }
                    }
                }
                .gc2-c2{
                    width: 100%;
                    ul{
                        justify-content: space-evenly;
                        &:nth-child(even){
                            justify-content: space-around;
                            padding-left: 20px;
                        }
                        li{
                            padding: 0 0 0 10px;
                            width: 100%;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
        .grid-cont-3{
            display: flex;
            flex-direction: column;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc3-1{
                flex-wrap: wrap;
                font-size: 3vw;
                .gc3-c1{
                    width: 50%;
                    h5{
                        margin: 0;
                        padding: 13px 0 5px 0;
                        font-size: 22px;
                    }
                    .gc3-c1-1{
                        ul{
                            justify-content: center;
                            padding: 0;
                            &:nth-child(even){ 
                                justify-content: space-evenly;
                        
                            }
                            li{
                                padding: 5px 0;
                            }
                        }
                    }
                }
                .gc3-c2{
                    width: 50%;
                    padding: 0 0 0 15px;
                    h5{
                        margin: 0;
                        padding: 13px 0 5px 0;
                        font-size: 22px;
                    }
                    .gc3-c2-2{
                        ul{
                            justify-content: center;
                            padding: 0;
                            &:nth-child(even){ 
                                justify-content: space-evenly;
                            }
                            li{
                                padding: 5px 0;
                            }
                        }
                    }
                }
                .gc3-c3{
                    width: 100%;
                    padding: 0;
                    h5{
                        margin: 0;
                        padding: 5px 0;
                        font-size: 22px;
                    }
                    .gc3-c3-3{
                        ul{
                            justify-content: center;
                            padding: 0;
                            :nth-child(even){ 
                                justify-content: space-evenly;
                            }
                            li{
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
        .grid-cont-4{
            display: flex;
            border: none;
            border-top: 2px solid rgb(168, 168, 168);
            font-size: 3vw;            
            .gc4-c1{
                h4{
                    margin: 0;
                    padding: 10px 0;
                }
                .gc4-c1-1{
                    ul{
                        padding: 0 30px 0 0;
                        margin: 0;
                        &:nth-child(even){ 
                            padding: 0 0 0 40px;
                        }                      
                    }
                }
            }
            .gc4-c2{
                h4{
                    margin: 0;
                    padding: 10px 0
                }
                .gc4-c2-2{
                    ul{
                        padding: 0 20px 0 0;
                        margin: 0;
                        &:nth-child(even){ 
                            padding: 0 0 0 20px;
                            line-height: 17.3px;
                        }                   
                    }
                }
            }
            .gc4-c3{
                h4{
                    margin: 0;
                    padding: 10px 0;
                }
                .gc4-c3-3{
                    ul{
                        padding: 0 10px 0 0;
                        margin: 0;
                        &:nth-child(even){ 
                            padding: 0 0 0 20px;
                        }                    
                    }
                }
            }
        }
    }
}
@media (min-width: 501px) and (max-width: 750px){
    .grid-carta{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 110px;
        padding-bottom: 140px;
        .grid-cont-1{
            border: none;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc1-1{
                font-size: 14px;
                height: 50vh;                
                .gc1-c2{
                    width: 60%;
                    ul{
                        justify-content: space-evenly;
                        padding: 0 0 0 20px;
                        &:nth-child(even){
                            justify-content: space-evenly;
                            padding-left: 20px;
                        }                      
                    }
                }
            }
        }
        .grid-cont-2{
            display: flex;
            flex-direction: column;
            padding: 0 0 20px 0;
            border: none;
            h4{
                margin: 0;
                padding: 30px 0 5px 0;
            }
            .gc2-1{
                font-size: 14px;
                .gc2-c1{
                    width: 80%;                    
                }
                
            }
        }
        .grid-cont-3{
            height: 100%;
            padding: 0;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc3-1{
                flex-wrap: wrap;
                font-size: 14px;
                .gc3-c1{
                    width: 40%;
                    h5{
                        margin: 0;
                        padding: 13px 0 5px 0;
                        font-size: 22px;
                    }                    
                }
                .gc3-c2{
                    h5{
                        margin: 0;
                        padding: 13px 0 5px 0;
                        font-size: 22px;
                    }                    
                }
                .gc3-c3{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    h5{
                        margin: 0;
                        padding: 5px 0;
                        font-size: 22px;
                    }                    
                }
            }
        }
        .grid-cont-4{
            border: none;
            margin: 0 0 -100px 0;
            .gc4-c1{
                h4{
                    margin: 0;
                    padding: 0 0 20px 0
                }
                .gc4-c1-1{
                    font-size: 14px;
                    ul{
                        padding: 0 30px 0 30px;
                        margin: 0;                       
                    }
                }
            }
            .gc4-c2{
                h4{
                    margin: 0;
                    padding: 0 0 25px 0;
                }
                .gc4-c2-2{
                    font-size: 14px;
                    ul{
                        padding: 0 20px 0 10px;
                        margin: 0;
                        &:nth-child(even){ 
                            line-height: 21px;
                        }                         
                    }
                }
            }
            .gc4-c3{                
                h4{
                    margin: 0;
                    padding: 0 0 20px 0;
                }
                .gc4-c3-3{
                    font-size: 14px;
                    ul{
                        padding: 0 10px 0 0;
                        margin: 0;
                        &:nth-child(even){ 
                            padding: 0 15px 0 25px;
                        }                        
                    }
                }
            }
        }
    }
}
@media (min-width: 751px) and (max-width: 993px){
    .grid-carta{
        height: 215vh;        
        .grid-cont-1{            
            h4{
                margin: 0;
                padding: 25px 0 5px 0;
            }
            .gc1-1{
                font-size: 13px;
                height: 50vh;
                .gc1-c1{
                    width: 40%;                    
                }                
            }
        }
        .grid-cont-2{
            padding: 20px 0;
            h4{
                margin: 0;
                padding: 0;
            }
            .gc2-1{
                font-size: 13px;
                .gc2-c1{
                    width: 45%;                    
                }                
            }
        }
        .grid-cont-3{      
            .gc3-1{                
                .gc3-c1{   
                    width: 50%;                 
                    font-size: 13px;                   
                    .gc3-c1-1{
                        ul{
                            &:nth-child(odd){
                                justify-content: space-around;
                                margin: 5px 0 20px 0;}
                            &:nth-child(even){
                                justify-content: space-around;
                                margin: 2px 0 35px 0;
                            }
                        }
                    }
                }
                .gc3-c2{
                    width: 30%;   
                    padding: 0 0 0 15px;         
                    .gc3-c2-2{
                        ul{
                            line-height: 20px;
                            justify-content: space-around;
                            &:nth-child(odd){
                                justify-content: space-around;
                                margin: 2px 0 20px 0;
                            }
                            &:nth-child(even){
                                justify-content: space-between;
                                margin: 1px 0 40px 0;
                            }
                        }
                    }
                }
                .gc3-c3{           
                    width: 40%;   
                    .gc3-c3-3{
                        ul{
                            &:nth-child(odd){
                                justify-content: space-around;
                                margin: 10px 0 20px 0;
                            }
                            &:nth-child(even){
                                justify-content: space-around;  
                                padding: 0;                  
                                
                            }                       
                        }
                    }
                }
            }
        }
        .grid-cont-4{
            justify-content: space-evenly;
            .gc4-c1{
                margin: 0;     
                .gc4-c1-1{
                    font-size: 13px;
                    ul{
                        &:nth-child(even){ 
                            justify-content: space-between;
                            margin: 2px 0 23px 0;
                        }                    
                    }
                }
            }
            .gc4-c2{
                margin: 0;
                h4{
                    margin: 0;
                    padding: 0 0 25px 0;
                }
                .gc4-c2-2{
                    font-size: 14px;
                    ul{
                        &:nth-child(even){ 
                            justify-content: space-around;
                            margin: 0 0 12px 0;
                        } 
                        li{
                            &:nth-child(even){
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
            .gc4-c3{
                h4{
                    margin: 0;
                    padding: 0 0 20px 0;
                }
                .gc4-c3-3{
                    font-size: 14px;
                    ul{
                        &:nth-child(even){ 
                            margin: 0 0 0 48px;
                            justify-content: space-between;
                        }                   
                    }
                }
            }
        }
    }
}
@media (min-width: 994px) and (max-width: 1229px){
    .grid-carta{
        height: 220vh;
        font-size: 14px;
    }
}
@media (min-width: 1230px){
    .grid-carta{    
        height: 185vh;
    }
}