@media (min-width: 350px) and (max-width: 400px){
    .ttl-galeria{
        line-height: 30px;
        font-size: 1.5rem;
        padding: 100px 20px 10px 20px;
    }
    .galeria-grid{
        grid-template-columns: repeat(2, 150px);        
    }
    .txt-galeria{
        width: 80%;       
    }
}
@media (min-width: 401px) and (max-width: 500px){
    .ttl-galeria{
        line-height: 30px;
        font-size: 1.5rem;
        padding: 100px 50px 10px 50px;
    }
    .galeria-grid{
        grid-template-columns: repeat(2, 46%);        
    }
    .txt-galeria{
        width: 70%;
    }
}
@media (min-width: 501px) and (max-width: 750px){
    .ttl-galeria{
        line-height: 30px;
        font-size: 1.5rem;
        padding: 100px 50px 10px 50px;
    }
    .galeria-grid{
        grid-template-columns: repeat(3, 30%);        
    }
    .txt-galeria{
        width: 300px;
    }
}
@media (min-width: 751px) and (max-width: 993px){
    .ttl-galeria{
        line-height: 30px;
        font-size: 2rem;
        padding: 110px 90px 30px 90px;
    }
    .galeria-grid{
        grid-template-columns: repeat(3, 30%);        
    }
    .txt-galeria{        
        width: 300px;   
    }
}
@media (min-width: 1230px){
    .txt-galeria{    
        margin-bottom: 50px;
    }
}