@media (min-width: 350px) and (max-width: 400px){
    .ttl-sn{
        margin: 50px 0 40px 0;
        h2{
            font-size: 2rem;
            padding: 50px 0 10px 0;
        }
        p{
            margin: 0;
            padding: 0 40px;
            font-size: 4vw;
        }
    }
    .sn-cont-1{
        margin: 0 20px;
        width: 90%;
        height: 330px;
        height: 73vh;
        .sn-c1-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 10px 0;
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
            }
        }
        img{
            display: none;
        }
    }    
    .sn-cont-2{
        height: 230px;
        width: 100%;
        margin: 10px 20px;
        img{
            display: none;
        }
        .sn-c2-1{
            padding: 30px 20px;
            margin: 0;
            h3{
                margin: 0 0 10px 0;
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
            }
        }
    }
    .sn-cont-3{
        margin: auto;
        width: 90%;
        height: 65vh;
        .sn-c3-1{
            padding: 30px 20px;
            h3{
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
                padding: 0;
            }
        }
        img{
            display: none;
        }
    }
    .sn-cont-4{
        margin: 0 auto -100px auto;
        width: 90%;
        img{
            display: none;
        }
        .sn-c4-1{
            padding: 30px 20px;
            h3{
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
                padding: 0;                
            }
        }
    }
}
@media (min-width: 401px) and (max-width: 500px){
    .ttl-sn{
        margin: 50px 0 40px 0;
        h2{
            font-size: 3rem;
            padding: 50px 0 10px 0;
        }
        p{
            margin: 0;
            padding: 0 40px;
            font-size: 4vw;
        }
    }
    .sn-cont-1{
        margin: 0 20px;
        width: 90%;
        height: 330px;
        height: 66vh;
        .sn-c1-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 10px 0;
                font-size: 4.5vw;
            }
            p{
                font-size: 3vw;
            }
        }
        img{
            display: none;
        }
    }    
    .sn-cont-2{
        height: 230px;
        width: 100%;
        margin: 10px 20px;
        img{
            display: none;
        }
        .sn-c2-1{
            padding: 30px 20px;
            margin: 0;
            h3{
                margin: 0 0 10px 0;
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
            }
        }
    }
    .sn-cont-3{
        margin: auto;
        width: 90%;
        height: 60vh;
        .sn-c3-1{
            padding: 30px 20px;
            h3{
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
                padding: 0;
            }
        }
        img{
            display: none;
        }
    }
    .sn-cont-4{
        margin: 0 auto -130px auto;
        width: 90%;
        img{
            display: none;
        }
        .sn-c4-1{
            padding: 30px 20px;
            h3{
                font-size: 4.5vw;
            }
            p{
                font-size: 3.4vw;
                padding: 0;              
            }
        }
    }
}
@media (min-width: 501px) and (max-width: 650px){
    .ttl-sn{
        margin: 50px 0 40px 0;
        h2{
            font-size: 2.5rem;
            padding: 50px 0 10px 0;
        }
        p{
            margin: 0;
            padding: 0 80px;
            font-size: 1.2rem;
            line-height: 100%;
        }
    }
    .sn-cont-1{
        margin: 0 20px;
        width: 90%;
        height: 100%;
        .sn-c1-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 5px 0;
                font-size: 16px;
            }
            p{
                font-size: 2.4vw;
                line-height: 100%;
                margin: 10px 0 0 0;
            }
        }
        img{
            display: none;
        }
    }    
    .sn-cont-2{
        margin: 0 20px;
        width: 100%;
        height: 100%;
        img{
            display: none;
        }
        .sn-c2-1{
            padding: 30px 20px;
            margin: 0;
            h3{
                margin: 0 0 5px 0;
                font-size: 16px;
            }
            p{
                font-size: 2.4vw;
                line-height: 100%;
                margin: 10px 0 0 0;
            }
        }
    }
    .sn-cont-3{
        margin: 0 20px;
        width: 90%;
        height: 100%;
        .sn-c3-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 5px 0;
                font-size: 16px;
            }
            p{
                font-size: 2.4vw;
                line-height: 100%;
                margin: 10px 0 0 0;
                padding: 0;
            }
        }
        img{
            display: none;
        }
    }
    .sn-cont-4{
        margin: 0 auto -130px auto;
        width: 94%;
        height: 100%;
        img{
            display: none;
        }
        .sn-c4-1{
            padding: 30px 20px;
            margin: 0;
            h3{
                margin: 0 0 5px 0;
                font-size: 16px;
            }
            p{
                font-size: 2.4vw;
                line-height: 13px;
                margin: 10px 10px 0 0;
                width: 95%;
                &:nth-child(odd){
                    margin-top: 2.2rem;}
            }
        }
    }
}
@media (min-width: 651px) and (max-width: 750px){
    .ttl-sn{
        margin: 50px 0 40px 0;
        h2{
            font-size: 2.5rem;
            padding: 50px 0 10px 0;
        }
        p{
            margin: 0;
            padding: 0 120px;
            font-size: 1.2rem;
            line-height: 100%;
        }
    }
    .sn-cont-1{
        margin: 0 50px;
        width: 85%;
        height: 100%;
        .sn-c1-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 5px 0;
                font-size: 20px;
            }
            p{
                font-size: 12px;
                line-height: 100%;
                margin: 10px 0 0 0;
            }
        }        
    }    
    .sn-cont-2{
        margin: 0 20px;
        width: 95%;
        height: 100%;   
        .sn-c2-1{
            padding: 70px 30px;
            margin: 0;
            h3{
                margin: 0 0 5px 0;
                font-size: 20px;
            }
            p{
                font-size: 12px;
                line-height: 100%;
                margin: 10px 0 0 0;
                width: 90%;
            }
        }
        img{
            width: 30%;
            margin: 0 0 0 45px;
        }
    }
    .sn-cont-3{
        margin: 0 50px;
        width: 85%;
        height: 100%;
        .sn-c3-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 5px 0;
                font-size: 20px;
            }
            p{
                font-size: 12px;
                line-height: 100%;
                margin: 10px 0 0 0;
                padding: 0 20px 0 0;
            }
        }
        img{
            width: 30%;
            margin: 0 30px 0 0;
        }
    }
    .sn-cont-4{
        margin: 0 auto -150px auto;
        width: 95%;
        height: 100%;
        img{
            width: 30%;
            margin: 0 0 0 45px;
        }
        .sn-c4-1{
            padding: 70px 30px;
            margin: 0;
            h3{
                margin: 0 0 5px 0;
                font-size: 20px;
            }
            p{
                font-size: 12px;
                line-height: 100%;
                margin: 10px 0 0 0;
                width: 90%;    
                &:nth-child(odd){
                    margin-top: 2.2rem;
                }         
            }
        }
    }
}
@media (min-width: 751px) and (max-width: 993px){
    .ttl-sn{
        margin: 50px 0 40px 0;
        h2{
            font-size: 2.5rem;
            padding: 50px 0 10px 0;
        }
        p{
            margin: 0;
            padding: 0 120px;
            font-size: 1.2rem;
            line-height: 100%;
        }
    }
    .sn-cont-1{
        margin: 10px 50px;
        width: 88%;
        height: 100%;
        .sn-c1-1{
            padding: 20px 20px;
            h3{
                margin: 0 0 5px 0;
                font-size: 22px;
            }
            p{
                font-size: 14px;
                line-height: 100%;
                margin: 10px 0 0 0;
            }
        }      
    }    
    .sn-cont-2{
        margin: 30px 20px;
        width: 95%;
        height: 100%;
        img{
            width: 30%;
            margin: 0 0 0 45px;
        }
        .sn-c2-1{
            padding: 70px 30px;
            margin: 0;
            h3{
                margin: 0 0 5px 0;
                font-size: 22px;
            }
            p{
                font-size: 14px;
                line-height: 100%;
                margin: 10px 0 0 0;
                width: 90%;
            }
        }
    }
    .sn-cont-3{
        margin: 10px 50px;
        width: 88%;
        height: 100%;
        .sn-c3-1{
            padding: 30px 20px;
            h3{
                margin: 0 0 5px 0;
                font-size: 22px;
            }
            p{
                font-size: 14px;
                line-height: 100%;
                margin: 10px 0 0 0;
                padding: 0 20px 0 0;
            }
        }
        img{
            width: 30%;
            margin: 20px 30px 20px 0;
        }
    }
    .sn-cont-4{
        margin: 0 20px;
        width: 95%;
        height: 100%;
        img{
            width: 30%;
            margin: 0 0 0 45px;
        }
        .sn-c4-1{
            padding: 70px 30px;
            margin: 0;
            h3{
                margin: 0 0 5px 0;
                font-size: 22px;
            }
            p{
                font-size: 14px;
                line-height: 100%;
                margin: 10px 0 0 0;
                width: 90%;
                &:nth-child(odd){
                    margin-top: 2.2rem;
                }            
            }
        }
    }
}